body{

    min-height:100vh;

}

#app{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;
    
    letter-spacing:2px;

}

